<% provide(:title, 'About') %>
<h1>About Food Finder</h1>
<h4 style ='font-weight: normal;'>Have you ever been hungry, but too poor or cheap to buy food? We have. Have you ever had to get as many people as possible to attend an event? We
  have. To tackle both of these problems at once, we present Feed Me Maybe. There's a lot of food out there. Get some.
a place</h4>
