<% provide(:title, 'Home') %>


<div class="center hero-unit">
  <h1 style="font-size: 3em;">Welcome to Feed Me Maybe</h1>

  <h2>
    This is the home page for the
    <span style="color:#494949;">Feed Me Maybe</span> app. If you like food, you've come to the right place.
  </h2>
  <% if not user_signed_in? %>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>

<%= render 'feed' %>


