<% provide(:title, 'Home') %>


<div class="center hero-unit">
  <h1>Welcome to Feed Me Maybe</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/"> FEED ME MAYBE</a> application.
  </h2>
  <% if not user_signed_in? %>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>

<%= render 'feed' %>


