<footer class="footer">
  <small>
    By <a href="http://www.isibner.me">Ian Sibner</a>
    and <a href="http://de.linkedin.com/pub/benedikt-lotter/39/941/48b/">Benedikt Lotter</a>.
  </small>
  <nav>
    <ul>
    </ul>
  </nav>
</footer>